@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --rotate: 0deg;
}

@keyframes arrowJamping {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
html {
  font-size: 20px;
}

body {
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
  line-height: 1.5;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #984D38 -30%, #181e41 65%, #181E41 80%, #984D38 500%);
}

[class*=__container] {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

._bgi {
  position: relative;
}
._bgi [class*=_bgi-image] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  flex: 1 1 auto;
  position: relative;
}

a:focus-visible,
button:focus-visible,
input[type=button]:focus-visible,
input[type=submit]:focus-visible,
input[type=checkbox]:focus-visible,
[role=button]:focus-visible {
  outline: 1px solid rgb(126, 126, 126);
}

.header__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin: 40px 0 10px 0;
}
@media (max-width: 400px) {
  .header__title {
    font-size: 3rem;
  }
}
.header__text {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}
.header__menu-list {
  display: flex;
  gap: 15px;
  margin: 30px auto;
  flex-wrap: wrap;
}
.header__menu-item {
  flex: 1 1 auto;
}
@media (max-width: 600px) {
  .header__menu-item {
    flex: 1 1 calc(50% - 15px);
  }
}
.header__menu-link {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 5px 15px;
  width: 100%;
  transition: background 1s;
}
.header__menu-link_selected, .header__menu-link:hover, .header__menu-link:focus {
  background: #399988;
}

.resume {
  color: #fff;
}
.resume__container {
  display: flex;
}
@media (max-width: 700px) {
  .resume__container {
    flex-direction: column;
  }
}
.resume__photo-block {
  flex: 1 1 32%;
}
.resume__text-block {
  flex: 1 1 68%;
}

.photo-block {
  background: linear-gradient(149.39deg, rgba(34, 34, 34, 0.22) 0%, rgba(255, 255, 255, 0) 100%, #111111 100%), rgba(255, 255, 255, 0.1);
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  padding: 50px 5%;
}
@media (max-width: 900px) {
  .photo-block {
    padding: 30px 15px;
  }
}
@media (max-width: 700px) {
  .photo-block {
    border-radius: 10px 10px 0 0;
  }
}
.photo-block__photo-wrapper {
  max-width: 250px;
  padding: 0 250px 250px 0;
  /* 250/494 */
  align-self: center;
  margin-bottom: 40px;
}
.photo-block__photo {
  border-radius: 16px;
}
.photo-block__name {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  /* 48/40 */
  align-self: center;
  margin-bottom: 32px;
}
.photo-block__profession {
  font-size: 1.2rem;
  /* 24px/20 */
  line-height: 1.2;
  /* 29px/24 */
  align-self: center;
  margin-bottom: 32px;
}
.photo-block__title {
  line-height: 1.2;
  /* 24px/20 */
  margin-bottom: 7px;
}
.photo-block__phone {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 300;
  font-size: 0.8rem;
}
.photo-block__email {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 300;
  font-size: 0.8rem;
  margin-bottom: 32px;
}
.photo-block__phone, .photo-block__email {
  transition: color 0.3s;
}
.photo-block__phone:hover, .photo-block__phone:focus, .photo-block__email:hover, .photo-block__email:focus {
  color: #599939;
}
.photo-block__social-media-list {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-bottom: 32px;
}
@media (max-width: 700px) {
  .photo-block__social-media-list {
    width: 286px;
    align-self: center;
  }
}
@media (max-width: 350px) {
  .photo-block__social-media-list {
    width: auto;
  }
}
.photo-block__social-media-item {
  display: inline-block;
}
.photo-block__social-media-link:hover .photo-block__social-media-icon path, .photo-block__social-media-link:focus .photo-block__social-media-icon path {
  fill: #599939;
}
.photo-block__social-media-icon {
  transform: scaleY(1.05);
  transition: fill 0.3s;
}
.photo-block__social-media-icon path {
  transition: fill 0.3s;
}
.photo-block__tech-skills-list {
  display: flex;
  flex-direction: column;
  max-height: 4rem;
  flex-wrap: wrap;
}
.photo-block__tech-skill {
  font-weight: 300;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.65);
}

.text-block {
  background: linear-gradient(163.36deg, #399988 0%, #599939 125%);
  border-radius: 0px 10px 10px 0px;
  padding: 43px 6%;
}
@media (max-width: 900px) {
  .text-block {
    padding: 25px 15px;
  }
}
@media (max-width: 700px) {
  .text-block {
    border-radius: 0 0 10px 10px;
  }
}
.text-block__title {
  line-height: 1.2;
  /* 24px/20 */
  text-transform: uppercase;
  margin-bottom: 20px;
}
.text-block__title_big {
  text-transform: none;
  font-size: 2rem;
  /* 48/40 */
  margin-bottom: 20px;
}
.text-block__about-text {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8rem;
  margin-bottom: 32px;
}
.text-block__section {
  border-top: 1px solid #fff;
  padding: 20px 0;
}
.text-block__section:last-child {
  padding-bottom: 0;
}
.text-block__section-row {
  display: flex;
}
@media (max-width: 500px) {
  .text-block__section-row {
    flex-direction: column;
  }
}
.text-block__date, .text-block__position {
  font-size: 1.2rem;
  /* 24px/20 */
  line-height: 1.2;
  /* 29px/24 */
}
.text-block__date {
  flex: 1 1 32%;
}
@media (max-width: 500px) {
  .text-block__date {
    margin-bottom: 16px;
    text-align: center;
  }
}
.text-block__section-col {
  flex: 1 1 68%;
}
.text-block__position {
  margin-bottom: 7px;
}
.text-block__organization {
  font-size: 0.8rem;
  line-height: 1.2;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.65);
  /* 19/16 */
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .text-block__organization {
    margin-bottom: 40px;
  }
}

.markup {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.markup_preview .markup__container {
  height: 100vh;
}
.markup_preview .markup__cards {
  flex-direction: column;
  width: 150px;
  position: fixed;
  top: 0;
  left: calc((100vw - 1300px) / 2 + 15px);
}
@media (max-width: 1315px) {
  .markup_preview .markup__cards {
    left: calc((100vw - 1300px) / 2 + 45px);
  }
}
.markup_preview .markup__cards-buttons {
  display: block;
  opacity: 1;
}
.markup_preview .markup__preview-block {
  display: block;
}
.markup_preview .card {
  flex: 0 0 236px;
  transition: margin 0.3s, transform 0.3s;
}
.markup_preview .card_active {
  margin: 70px 0;
  transform: scale(1.2);
}
.markup_preview .card_selected .card__image {
  opacity: 0.6;
  filter: hue-rotate(var(--rotate)) contrast(175%);
}
.markup_preview .card_selected:hover .card__image, .markup_preview .card_selected:focus .card__image {
  opacity: 0.6;
  filter: hue-rotate(var(--rotate)) blur(5px) contrast(175%);
}
.markup_preview .card_selected:hover::before, .markup_preview .card_selected:focus::before {
  opacity: 1;
}
.markup_preview .card_selected:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(var(--rotate), #399988 0%, rgba(89, 153, 57, 0.767) 33%, rgba(57, 153, 135, 0.788) 66%, #599939 100%);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transition: opacity 1s;
  opacity: 1;
}
.markup_preview .card_selected:after {
  position: absolute;
  content: "";
  top: 6%;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(min(100vw, 1300px) / 3 * 1.525 / 6));
  background-image: linear-gradient(var(--rotate), #399988 0%, rgba(89, 153, 57, 0.767) 33%, rgba(57, 153, 135, 0.788) 66%, #599939 100%);
  transition: opacity 1s;
  opacity: 1;
}
.markup__preview-block {
  display: none;
}
.markup__cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  transition: top 0.3s;
}
.markup__card {
  display: block;
  flex: 0 1 calc(33.33% - 10px);
  padding: 2%;
  /* 26/1300 */
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
@media (max-width: 1000px) {
  .markup__card {
    flex: 0 1 calc(50% - 8px);
  }
}
@media (max-width: 550px) {
  .markup__card {
    flex: 0 1 100%;
  }
}
.markup__cards-buttons {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;
  left: calc((100vw - 1300px) / 2);
}
@media (max-width: 1315px) {
  .markup__cards-buttons {
    left: calc((100vw - 1300px) / 2 + 15px);
  }
}
.markup__cards-button {
  background: transparent;
  opacity: 0.3;
  width: 180px;
  height: calc(50vh - 155px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  transition: opacity 0.3s;
  animation: none;
}
.markup__cards-button:hover, .markup__cards-button:focus {
  opacity: 1;
}
.markup__cards-button:hover .markup__cards-button-icon, .markup__cards-button:focus .markup__cards-button-icon {
  animation: arrowJamping 1s cubic-bezier(0.71, 0.06, 0.14, 0.97) infinite;
}
.markup__cards-button_top {
  top: 0;
}
.markup__cards-button_bottom {
  transform: rotate(180deg);
  bottom: 0;
}
.markup__cards-button-icon {
  width: 100px;
  height: 100px;
  transform: translateY(0px);
  transition: transform 1s;
}
.markup__cards-button-icon path {
  transform: scale(1.07, 0.5) translate(-17.4%, 105%);
  fill: #fff;
}

.card {
  position: relative;
  z-index: 0;
}
.card__image-wrapper {
  padding: 0 0 160% 0;
  border-radius: 10px;
  overflow: hidden;
}
.card__image {
  transition: all 1s;
}
.card__buttons {
  flex-direction: column;
  gap: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 0;
  align-items: center;
  transition: opacity 0.3s;
}
.card__button {
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  box-shadow: 0px 0px 10px #fff;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 5px 15px;
  font-size: 1rem;
  transition: background 0.3s;
}
.card__button:hover, .card__button:focus {
  background: rgba(255, 255, 255, 0.2);
}
.card:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(var(--rotate), #399988 0%, rgba(89, 153, 57, 0.767) 33%, rgba(57, 153, 135, 0.788) 66%, #599939 100%);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transition: opacity 1s;
  opacity: 0;
}
.card:after {
  position: absolute;
  content: "";
  top: 6%;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(min(100vw, 1300px) / 3 * 1.525 / 6));
  background-image: linear-gradient(var(--rotate), #399988 0%, rgba(89, 153, 57, 0.767) 33%, rgba(57, 153, 135, 0.788) 66%, #599939 100%);
  transition: opacity 1s;
  opacity: 0;
}
.card:hover .card__image, .card_focused .card__image {
  opacity: 0.6;
  filter: hue-rotate(var(--rotate)) blur(5px) contrast(175%);
}
.card:hover .card__buttons, .card_focused .card__buttons {
  display: flex;
  opacity: 1;
}
.card:hover::before, .card_focused::before {
  opacity: 1;
}
.card:hover::before, .card_focused::before {
  opacity: 0.3;
}

.transparent-pseudo::after, .transparent-pseudo::before {
  opacity: 0 !important;
}

.preview-block {
  position: fixed;
  top: 50%;
  right: calc((100vw - 1300px) / 2);
  width: 1120px;
  max-height: 100vh;
  transform: translateY(-50%);
}
.preview-block__device {
  position: relative;
  text-align: center;
  transition: transform 0.3s ease-out;
}
.preview-block__device_rotated {
  transform: rotate(-90deg);
}
.preview-block__device_rotated.preview-block__device_ipad .preview-block__iframe-wrapper {
  transform: rotate(90deg);
  top: 149px;
  left: 276px;
  height: 430px;
  width: 574px;
}
.preview-block__device_rotated.preview-block__device_ipad .preview-block__iframe-wrapper .preview-block__iframe {
  height: 800px;
  width: 1068px;
}
.preview-block__device_rotated.preview-block__device_iphone .preview-block__iframe-wrapper {
  transform: rotate(90deg);
  top: 177px;
  left: 323px;
  height: 273px;
  width: 474px;
}
.preview-block__device_rotated.preview-block__device_iphone .preview-block__iframe-wrapper .preview-block__iframe {
  height: 400px;
  width: 696px;
}
@media (max-height: 640px) {
  .preview-block__device_rotated.preview-block__device_iphone .preview-block__iframe-wrapper {
    top: 162px;
    left: 339px;
    width: 439px;
    height: 252px;
  }
  .preview-block__device_rotated.preview-block__device_iphone .preview-block__iframe-wrapper .preview-block__iframe {
    width: 696px;
    height: 400px;
    transform: scale(0.63) translate(-29%, -29.5%);
  }
}
.preview-block__device_macbook .preview-block__device-image_macbook {
  display: inline-block;
}
.preview-block__device_macbook .preview-block__iframe-wrapper {
  top: 43px;
  left: 165px;
  width: 786px;
  height: 493px;
}
.preview-block__device_macbook .preview-block__iframe-wrapper .preview-block__iframe {
  width: 1442px;
  height: 905px;
  transform: scale(0.545) translate(-41.73%, -41.73%);
}
@media (max-width: 1315px) {
  .preview-block__device_macbook {
    transform: scale(0.95);
  }
}
@media (max-height: 620px) {
  .preview-block__device_macbook {
    transform: scale(0.95);
  }
}
.preview-block__device_ipad .preview-block__device-image_ipad {
  display: inline-block;
}
.preview-block__device_ipad .preview-block__iframe-wrapper {
  top: 78px;
  left: 346px;
  width: 430px;
  height: 574px;
}
.preview-block__device_ipad .preview-block__iframe-wrapper .preview-block__iframe {
  width: 800px;
  height: 1068px;
  transform: scale(0.5375) translate(-42.9%, -42.9%);
}
@media (max-height: 725px) {
  .preview-block__device_ipad {
    transform: rotate(-90deg) translateX(calc(65px - (100vh - 595px) / 2));
  }
  .preview-block__device_ipad .preview-block__iframe-wrapper {
    transform: rotate(90deg);
    top: 149px;
    left: 276px;
    height: 430px;
    width: 574px;
  }
  .preview-block__device_ipad .preview-block__iframe-wrapper .preview-block__iframe {
    height: 800px;
    width: 1068px;
  }
}
.preview-block__device_iphone .preview-block__device-image_iphone {
  display: inline-block;
}
.preview-block__device_iphone .preview-block__iframe-wrapper {
  top: 76px;
  left: 423px;
  width: 273px;
  height: 475px;
}
.preview-block__device_iphone .preview-block__iframe-wrapper .preview-block__iframe {
  width: 400px;
  height: 696px;
  transform: scale(0.6826) translate(-23.3%, -23.3%);
}
@media (max-height: 640px) {
  .preview-block__device_iphone .preview-block__iframe-wrapper {
    top: 71px;
    left: 433px;
    width: 252px;
    height: 439px;
  }
  .preview-block__device_iphone .preview-block__iframe-wrapper .preview-block__iframe {
    width: 400px;
    height: 696px;
    transform: scale(0.63) translate(-29%, -29.5%);
  }
}
.preview-block__device-image {
  display: none;
}
.preview-block__device-image_macbook {
  width: 100%;
}
.preview-block__device-image_ipad {
  height: 730px;
}
.preview-block__device-image_iphone {
  height: 650px;
}
@media (max-height: 640px) {
  .preview-block__device-image_iphone {
    height: 600px;
  }
}
.preview-block__iframe-wrapper {
  position: absolute;
  overflow: hidden;
}
.preview-block__iframe {
  display: block;
}
.preview-block__buttons {
  width: 48px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  gap: 32px;
}
@media (max-width: 1315px) {
  .preview-block__buttons {
    right: 55px;
  }
}
.preview-block__button-wrapper {
  position: relative;
}
.preview-block__button-wrapper_selected .preview-block__button:not(.preview-block__button_rotate) {
  opacity: 1;
}
.preview-block__button-wrapper_selected .preview-block__button_rotate {
  display: block;
}
.preview-block__button {
  background: transparent;
  padding: 0 100% 100% 0;
  opacity: 0.4;
  transition: opacity 0.3s;
}
.preview-block__button:hover, .preview-block__button:focus {
  opacity: 1;
}
.preview-block__button_rotate {
  display: none;
  padding: 0 40% 40% 0;
  position: absolute;
  top: 35px;
  left: -30px;
  transition: transform 0.3s;
}
.preview-block__button_rotate:hover, .preview-block__button_rotate:focus {
  opacity: 0.7;
  transform: rotate(-30deg);
}
.preview-block__button_close {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100px;
  left: 0;
  background-color: #fff;
  border-radius: 10px;
  transform: scale(0.9);
  transition: transform 0.1s, opacity 0.1s;
}
.preview-block__button_close .preview-block__icon {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: #181E41;
  transition: width 0.1s, height 0.1s, background 0.1s, border-radius 0.1s;
}
.preview-block__button_close .preview-block__icon .preview-block__button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  letter-spacing: 1px;
  font-size: 0.8rem;
  text-align: center;
  transition: font-size 0.1s;
}
.preview-block__button_close:hover, .preview-block__button_close:focus {
  opacity: 0.7;
}
.preview-block__button_close:active {
  transform: scale(0.85);
  opacity: 0.7;
}
.preview-block__button_close:active .preview-block__icon {
  background: rgba(24, 30, 65, 0.85);
  width: 42px;
  height: 42px;
  border-radius: 7px;
}
.preview-block__button_close:active .preview-block__button-text {
  font-size: 0.75rem;
}
.preview-block__button_close_active {
  transform: scale(0.85);
  opacity: 0.7;
}
.preview-block__button_close_active .preview-block__icon {
  background: rgba(24, 30, 65, 0.85);
  width: 42px;
  height: 42px;
  border-radius: 7px;
}
.preview-block__button_close_active .preview-block__button-text {
  font-size: 0.75rem;
}
.modal {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 32px;
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.modal ::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(100deg, #984D38 -100%, #181e41 65%, #181E41 80%, #984D38 500%);
  z-index: -10;
  opacity: 0.2;
}
@media (max-width: 700px) {
  .modal {
    left: 10%;
    right: 10%;
    transform: translateY(-50%);
    max-width: none;
  }
}
.modal__text {
  margin-bottom: 20px;
}
.modal__form {
  text-align: center;
}
.modal__button {
  padding: 5px 15px;
  width: 60%;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  transition: background 0.3s;
}
.modal__button:hover, .modal__button:focus {
  background-color: #399988;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.react {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.react__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react__text {
  font-size: 4rem;
}
@media (max-width: 1000px) {
  .react__text {
    font-size: 3rem;
  }
}
@media (max-width: 750px) {
  .react__text {
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  .react__text {
    font-size: 1.5rem;
  }
}

.footer {
  text-align: center;
}
[hidden] {
  display: none;
}