@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

$titleColor: #fff;
$textColor: rgba(255, 255, 255, 0.65);
$transBack: rgba(255, 255, 255, 0.1);
$greenDark: #399988;
$greenLight: #599939;

:root {
	--rotate: 0deg;
}

@keyframes arrowJamping {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-5px);
	}

	100% {
		transform: translateY(0px);
	}
}

.no-browser-icons {
	pointer-events: none;
}


html {
	font-size: 20px;
}

body {
	font-family: Poppins, Helvetica, sans-serif;
	font-weight: 400;
	color: $textColor;
	line-height: 1.5;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	background: linear-gradient(90deg, #984D38 -30%, #181e41 65%, #181E41 80%, #984D38 500%);
}

[class*='__container'] {
	max-width: 1330px;
	padding: 0 15px;
	margin: 0 auto;
}

._bgi {
	position: relative;

	[class *='_bgi-image'] {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.main {
	flex: 1 1 auto;
	position: relative;
}

a:focus-visible,
button:focus-visible,
input[type=button]:focus-visible,
input[type=submit]:focus-visible,
input[type=checkbox]:focus-visible,
[role=button]:focus-visible {
	outline: 1px solid rgb(126, 126, 126);
}


//---------------------------------------------
.header {
	&__container {}

	&__title {
		font-weight: 700;
		font-size: 4rem;
		line-height: 1.2;
		text-align: center;
		color: $titleColor;
		margin: 40px 0 10px 0;

		@media (max-width: 400px) {
			font-size: 3rem;
		}
	}

	&__text {
		max-width: 700px;
		text-align: center;
		margin: 0 auto;
	}

	&__menu {}

	&__menu-list {
		display: flex;
		gap: 15px;
		margin: 30px auto;
		flex-wrap: wrap;
	}

	&__menu-item {
		flex: 1 1 auto;

		@media (max-width: 600px) {
			flex: 1 1 calc(50% - 15px);
		}
	}

	&__menu-link {
		display: inline-block;
		background: $transBack;
		border-radius: 10px;
		color: $titleColor;
		text-align: center;
		padding: 5px 15px;
		width: 100%;
		transition: background 1s;

		&_selected,
		&:hover,
		&:focus {
			background: $greenDark;
		}
	}
}

//--------------------------------------

.resume {
	color: #fff;

	&__container {
		display: flex;

		@media (max-width: 700px) {
			flex-direction: column;
		}
	}

	&__photo-block {
		flex: 1 1 32%;
	}

	&__text-block {
		flex: 1 1 68%
	}
}

.photo-block {
	background: linear-gradient(149.39deg, rgba(34, 34, 34, 0.22) 0%, rgba(255, 255, 255, 0) 100%, #111111 100%), rgba(255, 255, 255, 0.1);
	border-radius: 10px 0px 0px 10px;
	display: flex;
	flex-direction: column;
	padding: 50px 5%;

	@media (max-width: 900px) {
		padding: 30px 15px;
	}

	@media (max-width: 700px) {
		border-radius: 10px 10px 0 0;
	}

	&__photo-wrapper {
		max-width: 250px;
		padding: 0 250px 250px 0;
		/* 250/494 */
		align-self: center;
		margin-bottom: 40px;
	}

	&__photo {
		border-radius: 16px;
	}

	&__name {
		font-weight: 700;
		font-size: 2rem;
		line-height: 1.2;
		/* 48/40 */
		align-self: center;
		margin-bottom: 32px;
	}

	&__profession {
		font-size: 1.2rem;
		/* 24px/20 */
		line-height: 1.2;
		/* 29px/24 */
		align-self: center;
		margin-bottom: 32px;
	}

	&__title {
		line-height: 1.2;
		/* 24px/20 */
		margin-bottom: 7px;
	}

	&__phone {
		color: $textColor;
		font-weight: 300;
		font-size: 0.8rem;
	}

	&__email {
		color: $textColor;
		font-weight: 300;
		font-size: 0.8rem;
		margin-bottom: 32px;
	}

	&__phone,
	&__email {
		transition: color 0.3s;

		&:hover,
		&:focus {
			color: $greenLight;
		}
	}

	&__social-media-list {
		display: flex;
		gap: 16px;
		justify-content: space-between;
		margin-bottom: 32px;

		@media (max-width: 700px) {
			width: 286px;
			align-self: center;
		}

		@media (max-width: 350px) {
			width: auto;
		}
	}

	&__social-media-item {
		display: inline-block;
	}

	&__social-media-link {

		&:hover,
		&:focus {
			.photo-block__social-media-icon path {
				fill: $greenLight;
			}
		}
	}

	&__social-media-icon {
		transform: scaleY(1.05);
		transition: fill 0.3s;

		path {
			transition: fill 0.3s;
		}
	}


	&__tech-skills-list {
		display: flex;
		flex-direction: column;
		max-height: 4rem;
		flex-wrap: wrap;
	}

	&__tech-skill {
		font-weight: 300;
		font-size: 0.8rem;
		color: $textColor;
	}
}

.text-block {
	background: linear-gradient(163.36deg, $greenDark 0%, $greenLight 125%);
	border-radius: 0px 10px 10px 0px;
	padding: 43px 6%;

	@media (max-width: 900px) {
		padding: 25px 15px;
	}

	@media (max-width: 700px) {
		border-radius: 0 0 10px 10px;
	}

	&__title {
		line-height: 1.2;
		/* 24px/20 */
		text-transform: uppercase;
		margin-bottom: 20px;

		&_big {
			text-transform: none;
			font-size: 2rem;
			/* 48/40 */
			margin-bottom: 20px;
		}
	}

	&__about-text {
		font-weight: 300;
		color: $textColor;
		font-size: 0.8rem;
		margin-bottom: 32px;
	}

	&__sections {}

	&__section {
		border-top: 1px solid $titleColor;
		padding: 20px 0;

		&:last-child {
			padding-bottom: 0;
		}
	}

	&__section-row {
		display: flex;

		@media (max-width: 500px) {
			flex-direction: column;
		}
	}

	&__date,
	&__position {
		font-size: 1.2rem;
		/* 24px/20 */
		line-height: 1.2;
		/* 29px/24 */
	}

	&__date {
		flex: 1 1 32%;

		@media (max-width: 500px) {
			margin-bottom: 16px;
			text-align: center;
		}
	}

	&__section-col {
		flex: 1 1 68%
	}

	&__position {
		margin-bottom: 7px;
	}

	&__organization {
		font-size: 0.8rem;
		line-height: 1.2;
		font-weight: 300;
		color: $textColor;
		/* 19/16 */
		text-transform: capitalize;
		margin-bottom: 20px;

		@media (max-width: 500px) {
			margin-bottom: 40px;
		}
	}
}

//--------------------------------------

.markup {
	user-select: none;

	&__container {}

	&_preview {

		.markup {
			&__container {
				height: 100vh;
			}

			&__cards {
				flex-direction: column;
				width: 150px;
				position: fixed;
				top: 0;
				left: calc((100vw - 1300px) / 2 + 15px);

				@media (max-width: 1315px) {
					left: calc((100vw - 1300px) / 2 + 45px);
				}
			}

			&__cards-buttons {
				display: block;
				opacity: 1;
			}

			&__preview-block {
				display: block;
			}
		}

		.card {
			flex: 0 0 236px;
			transition: margin 0.3s, transform 0.3s;

			&_active {
				margin: 70px 0;
				transform: scale(1.2);
			}

			&_selected {
				.card__image {
					opacity: 0.6;
					filter: hue-rotate(var(--rotate)) contrast(175%);
				}

				&:hover,
				&:focus {
					.card__image {
						opacity: 0.6;
						filter: hue-rotate(var(--rotate)) blur(5px) contrast(175%);
					}

					&::before {
						opacity: 1;
					}
				}

				&:before {
					content: "";
					width: 100%;
					height: 100%;
					border-radius: 10px;
					background-image: linear-gradient(var(--rotate), $greenDark 0%, rgba(89, 153, 57, 0.767) 33%, rgba(57, 153, 135, 0.788) 66%, $greenLight 100%);
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0;
					transition: opacity 1s;
					opacity: 1;
				}

				&:after {
					position: absolute;
					content: "";
					top: 6%;
					left: 0;
					right: 0;
					z-index: -1;
					height: 100%;
					width: 100%;
					margin: 0 auto;
					transform: scale(0.8);
					filter: blur(calc((min(100vw, 1300px) / 3 * 1.525) / 6));
					background-image: linear-gradient(var(--rotate), $greenDark 0%, rgba(89, 153, 57, 0.767) 33%, rgba(57, 153, 135, 0.788) 66%, $greenLight 100%);
					transition: opacity 1s;
					opacity: 1;
				}
			}
		}

	}

	&__preview-block {
		display: none;
	}

	&__cards {
		display: flex;
		gap: 15px;
		flex-wrap: wrap;
		transition: top 0.3s;
	}

	&__card {
		display: block;
		flex: 0 1 calc(33.33% - 10px);
		padding: 2%;
		/* 26/1300 */
		background: $transBack;
		box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;

		@media (max-width: 1000px) {
			flex: 0 1 calc(50% - 8px);
		}

		@media (max-width: 550px) {
			flex: 0 1 100%;
		}
	}

	&__cards-buttons {
		display: none;
		opacity: 0;
		transition: opacity 0.3s;
		position: fixed;
		left: calc((100vw - 1300px) / 2);

		@media (max-width: 1315px) {
			left: calc((100vw - 1300px) / 2 + 15px);
		}
	}

	&__cards-button {
		background: transparent;
		opacity: 0.3;
		width: 180px;
		height: calc(50vh - 155px);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: fixed;
		transition: opacity 0.3s;
		animation: none;

		&:hover,
		&:focus {
			opacity: 1;

			.markup__cards-button-icon {
				animation: arrowJamping 1s cubic-bezier(.71, .06, .14, .97) infinite;
			}
		}

		&_top {
			top: 0;
		}

		&_bottom {
			transform: rotate(180deg);
			bottom: 0;
		}
	}

	&__cards-button-icon {
		width: 100px;
		height: 100px;
		transform: translateY(0px);
		transition: transform 1s;

		path {
			transform: scale(1.07, 0.5) translate(-17.4%, 105%);
			fill: #fff;
		}
	}
}

.card {
	position: relative;
	z-index: 0;

	&__image-wrapper {
		padding: 0 0 160% 0;
		border-radius: 10px;
		overflow: hidden;
	}

	&__image {
		transition: all 1s;
		pointer-events: none;
	}

	&__buttons {
		flex-direction: column;
		gap: 32px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
		opacity: 0;
		align-items: center;
		transition: opacity 0.3s;
	}

	&__button {
		display: inline-block;
		background: rgba(0, 0, 0, 0.3);
		border: 1px solid #fff;
		box-shadow: 0px 0px 10px #fff;
		border-radius: 10px;
		color: $titleColor;
		text-align: center;
		padding: 5px 15px;
		font-size: 1rem;
		transition: background 0.3s;

		&:hover,
		&:focus {
			background: rgba(255, 255, 255, 0.2);
		}
	}

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background-image: linear-gradient(var(--rotate), $greenDark 0%, rgba(89, 153, 57, 0.767) 33%, rgba(57, 153, 135, 0.788) 66%, $greenLight 100%);
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		transition: opacity 1s;
		opacity: 0;
	}

	&:after {
		position: absolute;
		content: "";
		top: 6%;
		left: 0;
		right: 0;
		z-index: -1;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		transform: scale(0.8);
		filter: blur(calc((min(100vw, 1300px) / 3 * 1.525) / 6));
		background-image: linear-gradient(var(--rotate), $greenDark 0%, rgba(89, 153, 57, 0.767) 33%, rgba(57, 153, 135, 0.788) 66%, $greenLight 100%);
		transition: opacity 1s;
		opacity: 0;
	}

	&:hover,
	&_focused {
		.card__image {
			opacity: 0.6;
			filter: hue-rotate(var(--rotate)) blur(5px) contrast(175%);
		}

		.card__buttons {
			display: flex;
			opacity: 1;
		}

		&::before

		/* ,
		&::after */
			{
			opacity: 1;
		}

		&::before {
			opacity: 0.3;
		}
	}
}

.transparent-pseudo {

	&::after,
	&::before {
		opacity: 0 !important;
	}
}

.preview-block {
	position: fixed;
	top: 50%;
	right: calc((100vw - 1300px) / 2);
	width: 1120px;
	max-height: 100vh;
	transform: translateY(-50%);

	&__device {
		position: relative;
		text-align: center;
		transition: transform 0.3s ease-out;

		&_rotated {
			transform: rotate(-90deg);
		}

		&_rotated.preview-block__device_ipad {
			.preview-block__iframe-wrapper {
				transform: rotate(90deg);
				top: 149px;
				left: 276px;
				height: 430px;
				width: 574px;

				.preview-block__iframe {
					height: 800px;
					width: 1068px;
				}
			}
		}

		&_rotated.preview-block__device_iphone {
			.preview-block__iframe-wrapper {
				transform: rotate(90deg);
				top: 177px;
				left: 323px;
				height: 273px;
				width: 474px;

				.preview-block__iframe {
					height: 400px;
					width: 696px;
				}

				@media (max-height: 640px) {
					top: 162px;
					left: 339px;
					width: 439px;
					height: 252px;

					.preview-block__iframe {
						width: 696px;
						height: 400px;
						transform: scale(0.63) translate(-29%, -29.5%);
					}
				}
			}
		}

		&_macbook {
			.preview-block__device-image_macbook {
				display: inline-block;
			}

			.preview-block__iframe-wrapper {
				top: 43px;
				left: 165px;
				width: 786px;
				height: 493px;

				.preview-block__iframe {
					width: 1442px;
					height: 905px;
					transform: scale(0.545) translate(-41.73%, -41.73%);
				}
			}

			@media (max-width: 1315px) {
				transform: scale(0.95);
			}

			@media (max-height: 620px) {
				transform: scale(0.95);
			}
		}


		&_ipad {
			.preview-block__device-image_ipad {
				display: inline-block;
			}

			.preview-block__iframe-screen-default {
				font-size: 3rem;
			}

			.preview-block__iframe-wrapper {
				top: 78px;
				left: 346px;
				width: 430px;
				height: 574px;

				.preview-block__iframe {
					width: 800px;
					height: 1068px;
					transform: scale(0.5375) translate(-42.9%, -42.9%);
				}
			}

			@media (max-height: 725px) {
				transform: rotate(-90deg) translateX(calc(65px - ((100vh - 595px) / 2)));

				.preview-block__iframe-wrapper {
					transform: rotate(90deg);
					top: 149px;
					left: 276px;
					height: 430px;
					width: 574px;

					.preview-block__iframe {
						height: 800px;
						width: 1068px;
					}
				}
			}
		}

		&_iphone {
			.preview-block__device-image_iphone {
				display: inline-block;
			}

			.preview-block__iframe-screen-default {
				font-size: 2rem;
			}

			.preview-block__iframe-wrapper {
				top: 76px;
				left: 423px;
				width: 273px;
				height: 475px;

				.preview-block__iframe {
					width: 400px;
					height: 696px;
					transform: scale(0.6826) translate(-23.3%, -23.3%);
				}

				@media (max-height: 640px) {
					top: 71px;
					left: 433px;
					width: 252px;
					height: 439px;

					.preview-block__iframe {
						width: 400px;
						height: 696px;
						transform: scale(0.63) translate(-29%, -29.5%);
					}
				}
			}
		}
	}

	&__device-image {
		display: none;
		pointer-events: none;

		&_macbook {
			width: 100%;
		}

		&_ipad {
			height: 730px;
		}

		&_iphone {
			height: 650px;

			@media (max-height: 640px) {
				height: 600px;
			}
		}
	}

	&__iframe-wrapper {
		position: absolute;
		overflow: hidden;
	}

	&__iframe {
		display: block;
		position: relative;
		z-index: 10;
	}

	&__iframe-screen-default {
		position: absolute;
		top: 0.5%;
		left: 0.5%;
		width: 99%;
		height: 99%;
		background: linear-gradient(90deg, #984D38 -30%, #181e41 65%, #181E41 80%, #984D38 500%);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 4rem;
		color: #fff;
	}

	&__buttons {
		width: 48px;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		right: 40px;
		gap: 32px;

		@media (max-width: 1315px) {
			right: 55px;
		}
	}

	&__button-wrapper {
		position: relative;

		&_selected {
			.preview-block__button:not(.preview-block__button_rotate) {
				opacity: 1;
			}

			.preview-block__button_rotate {
				display: block;
			}
		}
	}

	&__button {
		background: transparent;
		padding: 0 100% 100% 0;
		opacity: 0.4;
		transition: opacity 0.3s;

		&:hover,
		&:focus {
			opacity: 1;
		}

		&_rotate {
			display: none;
			padding: 0 40% 40% 0;
			position: absolute;
			top: 35px;
			left: -30px;
			transition: transform 0.3s;

			&:hover,
			&:focus {
				opacity: 0.7;
				transform: rotate(-30deg);
			}
		}

		&_close {
			position: absolute;
			width: 100%;
			height: 100%;
			top: -100px;
			left: 0;
			background-color: #fff;
			border-radius: 10px;
			transform: scale(0.9);
			transition: transform 0.1s, opacity 0.1s;

			.preview-block__icon {
				position: absolute;
				width: 44px;
				height: 44px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 8px;
				background: #181E41;
				transition: width 0.1s, height 0.1s, background 0.1s, border-radius 0.1s;

				.preview-block__button-text {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: $titleColor;
					letter-spacing: 1px;
					font-size: 0.8rem;
					text-align: center;
					transition: font-size 0.1s;
				}
			}

			&:hover,
			&:focus {
				opacity: 0.7;
			}

			&:active {
				transform: scale(0.85);
				opacity: 0.7;

				.preview-block__icon {
					background: rgba(24, 30, 65, 0.85);
					width: 42px;
					height: 42px;
					border-radius: 7px;
				}

				.preview-block__button-text {
					font-size: 0.75rem;
				}
			}

			&_active {
				transform: scale(0.85);
				opacity: 0.7;

				.preview-block__icon {
					background: rgba(24, 30, 65, 0.85);
					width: 42px;
					height: 42px;
					border-radius: 7px;
				}

				.preview-block__button-text {
					font-size: 0.75rem;
				}
			}
		}

	}

	&__icon {}
}

//----------------------------------------
.modal {
	color: $titleColor;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 32px;
	max-width: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.6);

	::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(100deg, #984D38 -100%, #181e41 65%, #181E41 80%, #984D38 500%);
		z-index: -10;
		opacity: 0.2;
	}

	@media (max-width: 700px) {
		left: 10%;
		right: 10%;
		transform: translateY(-50%);
		max-width: none;
	}

	&__text {
		margin-bottom: 20px;
	}

	&__form {
		text-align: center;
	}

	&__button {
		padding: 5px 15px;
		width: 60%;
		background: $transBack;
		color: $titleColor;
		font-size: 1rem;
		text-align: center;
		border-radius: 10px;
		transition: background 0.3s;

		&:hover,
		&:focus {
			background-color: $greenDark;
		}
	}


}

::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
}


//---------------------------------------

.react {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	&__container {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__text {
		font-size: 4rem;

		@media (max-width: 1000px) {
			font-size: 3rem;
		}

		@media (max-width: 750px) {
			font-size: 2rem;
		}

		@media (max-width: 450px) {
			font-size: 1.5rem;
		}
	}
}

//------------------------------------------


.footer {
	text-align: center;

	&__container {}
}

//-------------------------------------------

[hidden] {
	display: none;
}