@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

$titleColor: #fff;
$textColor: rgba(255, 255, 255, 0.65);
$transBack: rgba(255, 255, 255, 0.1);
$greenDark: #399988;
$greenLight: #599939;

@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}

	100% {
		--rotate: 360deg;
	}
}

@keyframes arrowJamping {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-5px);
	}

	100% {
		transform: translateY(0px);
	}
}


html {
	font-size: 20px;
}

body {
	font-family: Poppins, Helvetica, sans-serif;
	font-weight: 400;
	color: $textColor;
	line-height: 1.5;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	background: linear-gradient(100deg, #984D38 -30%, #181e41 65%, #181E41 80%, #984D38 500%);
}

[class*='__container'] {
	max-width: 1330px;
	padding: 0 15px;
	margin: 0 auto;
}

._bgi {
	position: relative;

	[class *='_bgi-image'] {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.main {
	flex: 1 1 auto;
}


//---------------------------------------------
.header {
	&__container {}

	&__title {
		font-weight: 700;
		font-size: 4rem;
		line-height: 1.2;
		text-align: center;
		color: $titleColor;
		margin: 40px 0 10px 0;

		@media (max-width: 400px) {
			font-size: 3rem;
		}
	}

	&__text {
		max-width: 700px;
		text-align: center;
		margin: 0 auto;
	}

	&__menu {}

	&__menu-list {
		display: flex;
		gap: 15px;
		margin: 30px auto;
		flex-wrap: wrap;
	}

	&__menu-item {
		flex: 1 1 auto;

		@media (max-width: 600px) {
			flex: 1 1 calc(50% - 15px);
		}
	}

	&__menu-link {
		display: inline-block;
		background: $transBack;
		border-radius: 10px;
		color: $titleColor;
		text-align: center;
		padding: 5px 15px;
		width: 100%;
		transition: background 1s;

		&_selected,
		&:hover {
			background: $greenDark;
		}
	}
}

//--------------------------------------

.resume {
	color: #fff;

	&__container {
		display: flex;

		@media (max-width: 700px) {
			flex-direction: column;
		}
	}

	&__photo-block {
		flex: 1 1 32%;
	}

	&__text-block {
		flex: 1 1 68%
	}
}

.photo-block {
	background: linear-gradient(149.39deg, rgba(34, 34, 34, 0.22) 0%, rgba(255, 255, 255, 0) 100%, #111111 100%), rgba(255, 255, 255, 0.1);
	border-radius: 10px 0px 0px 10px;
	display: flex;
	flex-direction: column;
	padding: 50px 5%;

	@media (max-width: 900px) {
		padding: 30px 15px;
	}

	@media (max-width: 700px) {
		border-radius: 10px 10px 0 0;
	}

	&__photo-wrapper {
		max-width: 250px;
		padding: 0 250px 250px 0;
		/* 250/494 */
		align-self: center;
		margin-bottom: 40px;
	}

	&__photo {
		border-radius: 16px;
	}

	&__name {
		font-weight: 700;
		font-size: 2rem;
		line-height: 1.2;
		/* 48/40 */
		align-self: center;
		margin-bottom: 32px;
	}

	&__profession {
		font-size: 1.2rem;
		/* 24px/20 */
		line-height: 1.2;
		/* 29px/24 */
		align-self: center;
		margin-bottom: 32px;
	}

	&__title {
		line-height: 1.2;
		/* 24px/20 */
		margin-bottom: 7px;
	}

	&__phone {
		color: $textColor;
		font-weight: 300;
		font-size: 0.8rem;
	}

	&__email {
		color: $textColor;
		font-weight: 300;
		font-size: 0.8rem;
		margin-bottom: 32px;
	}

	&__phone,
	&__email {
		transition: color 0.3s;

		&:hover {
			color: $greenLight;
		}
	}

	&__social-media-list {
		display: flex;
		gap: 16px;
		justify-content: space-between;
		margin-bottom: 32px;

		@media (max-width: 700px) {
			width: 286px;
			align-self: center;
		}

		@media (max-width: 350px) {
			width: auto;
		}
	}

	&__social-media-item {
		display: inline-block;
	}

	&__social-media-link {
		&:hover {
			.photo-block__social-media-icon path {
				fill: $greenLight;
			}
		}
	}

	&__social-media-icon {
		transform: scaleY(1.05);
		transition: fill 0.3s;

		path {
			transition: fill 0.3s;
		}
	}


	&__tech-skills-list {
		display: flex;
		flex-direction: column;
		max-height: 4rem;
		flex-wrap: wrap;
	}

	&__tech-skill {
		font-weight: 300;
		font-size: 0.8rem;
		color: $textColor;
	}
}

.text-block {
	background: linear-gradient(163.36deg, $greenDark 0%, $greenLight 125%);
	border-radius: 0px 10px 10px 0px;
	padding: 43px 6%;

	@media (max-width: 900px) {
		padding: 25px 15px;
	}

	@media (max-width: 700px) {
		border-radius: 0 0 10px 10px;
	}

	&__title {
		line-height: 1.2;
		/* 24px/20 */
		text-transform: uppercase;
		margin-bottom: 20px;

		&_big {
			text-transform: none;
			font-size: 2rem;
			/* 48/40 */
			margin-bottom: 20px;
		}
	}

	&__about-text {
		font-weight: 300;
		color: $textColor;
		font-size: 0.8rem;
		margin-bottom: 32px;
	}

	&__sections {}

	&__section {
		border-top: 1px solid $titleColor;
		padding: 20px 0;

		&:last-child {
			padding-bottom: 0;
		}
	}

	&__section-row {
		display: flex;

		@media (max-width: 500px) {
			flex-direction: column;
		}
	}

	&__date,
	&__position {
		font-size: 1.2rem;
		/* 24px/20 */
		line-height: 1.2;
		/* 29px/24 */
	}

	&__date {
		flex: 1 1 32%;

		@media (max-width: 500px) {
			margin-bottom: 16px;
			text-align: center;
		}
	}

	&__section-col {
		flex: 1 1 68%
	}

	&__position {
		margin-bottom: 7px;
	}

	&__organization {
		font-size: 0.8rem;
		line-height: 1.2;
		font-weight: 300;
		color: $textColor;
		/* 19/16 */
		text-transform: capitalize;
		margin-bottom: 20px;

		@media (max-width: 500px) {
			margin-bottom: 40px;
		}
	}
}

//--------------------------------------

.markup {
	&__container {}



	&_preview {
		.markup {
			&__container {
				height: 100vh;
			}

			&__cards {
				flex-direction: column;
				width: 150px;
				position: fixed;
				top: 0;
				left: calc((100vw - 1300px) / 2 + 15px);
			}

			&__cards-buttons {
				display: block;
				opacity: 1;
			}

			&__preview-block {
				display: block;
			}
		}

		.card {
			flex: 0 0 236px;
			transition: margin 0.3s, transform 0.3s;

			&_active {
				margin: 70px 0;
				transform: scale(1.2);
			}

			&_selected {
				.card__image {
					opacity: 0.6;
					filter: hue-rotate(var(--rotate)) contrast(175%);
					animation: spin 2.5s ease-in-out infinite;
				}

				&:before {
					content: "";
					width: 100%;
					height: 100%;
					border-radius: 10px;
					background-image: linear-gradient(var(--rotate), $greenDark 0%, rgba(89, 153, 57, 0.767) 33%, #3999877a 66%, $greenLight 100%);
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0;
					transition: opacity 1s;
					animation: spin 2.5s linear infinite;
					opacity: 1;
				}

				&:after {
					position: absolute;
					content: "";
					top: 6%;
					left: 0;
					right: 0;
					z-index: -1;
					height: 100%;
					width: 100%;
					margin: 0 auto;
					transform: scale(0.8);
					filter: blur(calc((min(100vw, 1300px) / 3 * 1.525) / 6));
					background-image: linear-gradient(var(--rotate), $greenDark 0%, rgba(89, 153, 57, 0.767) 33%, #3999877a 66%, $greenLight 100%);
					transition: opacity 1s;
					animation: spin 2.5s linear infinite;
					opacity: 1;
				}
			}
		}

	}

	&__preview-block {
		display: none;
	}

	&__cards {
		display: flex;
		gap: 15px;
		flex-wrap: wrap;
		transition: top 0.3s;
	}

	&__card {
		display: block;
		flex: 0 1 calc(33.33% - 10px);
		padding: 2%;
		/* 26/1300 */
		background: $transBack;
		box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
	}

	&__cards-buttons {
		display: none;
		opacity: 0;
		transition: opacity 0.3s;
	}

	&__cards-button {
		background: transparent;
		opacity: 0.3;
		width: 180px;
		height: calc(50vh - 155px);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: fixed;
		transition: opacity 0.3s;

		&:hover {
			opacity: 1;

			.markup__cards-button-icon {
				animation: arrowJamping 1s cubic-bezier(.71, .06, .14, .97) infinite;
			}
		}

		&_top {
			top: 0;
		}

		&_bottom {
			transform: rotate(180deg);
			bottom: 0;
		}
	}

	&__cards-button-icon {
		width: 100px;
		height: 100px;
		transform: translateY(0px);
		transition: transform 1s;

		path {
			transform: scale(1.07, 0.5) translate(-17.4%, 105%);
			fill: #fff;
		}
	}
}

.card {
	position: relative;
	z-index: 0;

	&__image-wrapper {
		padding: 0 0 160% 0;
		border-radius: 10px;
		overflow: hidden;
	}

	&__image {
		transition: all 1s;
		animation: none;
	}

	&__buttons {
		flex-direction: column;
		gap: 32px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
		opacity: 0;
		align-items: center;
		transition: opacity 0.3s;
	}

	&__button {
		display: inline-block;
		background: rgba(0, 0, 0, 0.3);
		border: 1px solid #fff;
		box-shadow: 0px 0px 10px #fff;
		border-radius: 10px;
		color: $titleColor;
		text-align: center;
		padding: 5px 15px;
		font-size: 1rem;
		transition: background 0.3s;

		&:hover {
			background: rgba(255, 255, 255, 0.2);
		}
	}

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background-image: linear-gradient(var(--rotate), $greenDark 0%, rgba(89, 153, 57, 0.767) 33%, #3999877a 66%, $greenLight 100%);
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		transition: opacity 1s;
		opacity: 0;
		animation: none;
	}

	&:after {
		position: absolute;
		content: "";
		top: 6%;
		left: 0;
		right: 0;
		z-index: -1;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		transform: scale(0.8);
		filter: blur(calc((min(100vw, 1300px) / 3 * 1.525) / 6));
		background-image: linear-gradient(var(--rotate), $greenDark 0%, rgba(89, 153, 57, 0.767) 33%, #3999877a 66%, $greenLight 100%);
		transition: opacity 1s;
		opacity: 0;
		animation: none;
	}

	&:hover {
		.card__image {
			opacity: 0.6;
			filter: hue-rotate(var(--rotate)) blur(5px) contrast(175%);
			animation: spin 2.5s ease-in-out infinite;
		}

		.card__buttons {
			display: flex;
			opacity: 1;
		}

		&::before,
		&::after {
			animation: spin 2.5s linear infinite;
			opacity: 1;
		}

		&::before {
			opacity: 0.3;
		}

	}

}


.preview-block {
	position: fixed;
	top: 50%;
	right: calc((100vw - 1300px) / 2);
	width: 1120px;
	max-height: 100vh;
	transform: translateY(-50%);

	&__device {
		position: relative;
		text-align: center;

		&_macbook {
			.preview-block__device-image_macbook {
				display: inline-block;
			}

			.preview-block__iframe-wrapper {
				top: 43px;
				left: 165px;
				width: 786px;
				height: 492px;

				.preview-block__iframe {
					width: 1442px;
					height: 903px;
					transform: scale(0.545) translate(-41.73%, -41.73%);
				}
			}
		}


		&_ipad {
			.preview-block__device-image_ipad {
				display: inline-block;
			}

			.preview-block__iframe-wrapper {
				top: 78px;
				left: 346px;
				width: 430px;
				height: 574px;

				.preview-block__iframe {
					width: 800px;
					height: 1068px;
					transform: scale(0.5375) translate(-42.9%, -42.9%);
				}
			}
		}

		&_iphone {
			.preview-block__device-image_iphone {
				display: inline-block;
			}

			.preview-block__iframe-wrapper {
				top: 76px;
				left: 423px;
				width: 273px;
				height: 474px;

				.preview-block__iframe {
					width: 400px;
					height: 696px;
					transform: scale(0.6826) translate(-23.3%, -23.3%);
				}
			}
		}
	}

	&__device-image {
		display: none;

		&_ipad {
			height: 730px;
		}

		&_iphone {
			height: 650px;
		}
	}

	&__iframe-wrapper {
		position: absolute;
		overflow: hidden;
	}

	/* &__device-image {
		display: none;
	
		&_selected {
			display: inline-block;
		}
	
		&_ipad {
			height: 730px;
		}
	
		&_iphone {
			height: 650px;
		}
	}
	
	&__iframe-wrapper {
		position: absolute;
		overflow: hidden;
	
		&_macbook {
			top: 43px;
			left: 165px;
			width: 785px;
			height: 492px;
	
			.preview-block__iframe {
				width: 1440px;
				height: 903px;
				transform: scale(0.545) translate(-41.73%, -41.73%);
			}
		}
	
		&_ipad {
			top: 78px;
			left: 346px;
			width: 430px;
			height: 574px;
	
			.preview-block__iframe {
				width: 800px;
				height: 1068px;
				transform: scale(0.5375) translate(-42.9%, -42.9%);
			}
		}
	
		&_iphone {
			top: 76px;
			left: 423px;
			width: 273px;
			height: 474px;
	
			.preview-block__iframe {
				width: 400px;
				height: 696px;
				transform: scale(0.6826) translate(-23.3%, -23.3%);
			}
		}
	} */

	&__iframe {
		display: block;
	}

	&__buttons {
		width: 48px;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		right: 40px;
		gap: 32px;
	}

	&__button {
		background: transparent;
		padding: 0 0 100% 0;
		opacity: 0.4;
		transition: opacity 0.3s;

		&_selected {
			opacity: 1;
		}

		&:hover {
			opacity: 1;
		}
	}

	&__icon {}
}


//---------------------------------------

.footer {
	text-align: center;

	&__container {}
}

//-------------------------------------------

[hidden] {
	display: none;
}